<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/autor" ></ion-back-button>
    </ion-button>
    <ion-title class="ion-text-center">Curriculum vítae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2><strong>2010-actualidad:</strong></h2>
        <p>Profesor del Máster Universitario en Desarrollo de <br>
           Software para Dispositivos Móviles</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><strong>2008-2010:</strong></h2>
        <p>Cajero en Vea</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><strong>2007-2008:</strong></h2>
        <p>Repartidor de Pedidos ya</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>...</strong></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
